parameters:
    checkMissingIterableValueType: false
    level: 7
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        # Interface should probably be changed to add this method (bc break)
        - '#Call to an undefined method Zend_Wildfire_Channel_Interface::getProtocol\(\)\.#'
        -
            message: '#Result of && is always false\.#'
            path: %currentWorkingDirectory%/src/Zend/Wildfire/Channel/HttpHeaders.php
        -
            message: '#Negated boolean expression is always false\.#'
            path: %currentWorkingDirectory%/src/Zend/Wildfire/Channel/HttpHeaders.php
        -
            message: '#Result of \|\| is always true\.#'
            path: %currentWorkingDirectory%/src/Zend/Wildfire/Plugin/FirePhp.php
        -
            message: '#Cannot unset offset .File. on array{Type: string\|null, Label\?: mixed}\.#'
            path: './src/Zend/Wildfire/Plugin/FirePhp.php'
        -
            message: '#Offset .File. on array{Type: string\|null, Label\?: mixed} in isset\(\) does not exist\.#'
            path: ./src/Zend/Wildfire/Plugin/FirePhp.php
        -
            message: '#Offset .Line. on \*NEVER\* in isset\(\) always exists and is always null\.#'
            path: ./src/Zend/Wildfire/Plugin/FirePhp.php
        -
            message: '#Cannot unset offset .Line. on array{Type: string\|null, Label\?: mixed}\.#'
            path: ./src/Zend/Wildfire/Plugin/FirePhp.php
            count: 1
        -
            message: '#Offset .Label. does not exist on array{Type: string\|null, Label\?: mixed, Collapsed\?: .false.\|.true.}\|array{Type: string\|null, Label\?: mixed, File: mixed, Line: mixed, Collapsed\?: .false.\|.true.}\.#'
            path: ./src/Zend/Wildfire/Plugin/FirePhp.php
            count: 1
